body {
  font-family: "Josefin Sans", sans-serif;
}
.c {
  max-width: 1200px;
  margin: auto;
}
.header {
  padding: 25px;
  background: linear-gradient(90deg, #5b86e5, #36d1dc);
  font-size: 20px;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 10px #686767bd;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav {
  justify-content: space-around;
  display: flex;
}
.nav li {
  padding: 0 20px;
}
.sec_pad {
  padding: 40px 0;
}
.home {
  background: linear-gradient(90deg, #5b86e5, #36d1dc);
}
.tit {
  text-align: center;
}
.home .tit h4 {
  margin-top: 10px;
}
.home .row {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.home n.img {
  padding-left: 15px;
}
.home .abt {
  padding-right: 15px;
  width: 50%;
}
.home .abt h4 {
  margin-top: 10px;
}
.home .abt h4:first-child {
  margin-top: 0;
}
.home .abt p {
  margin-top: 10px;
}
.home .img img {
  width: 350px;
  border-radius: 30px;
}
.lang_box {
  padding: 25px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  border-radius: 10px;
  margin: 0 20px;
}
.lang_tit h4 {
  font-weight: 400;
  font-size: 1.5rem;
}
.work .tit h3 {
  margin-top: 15px;
}
.work .bc_tit {
  margin-top: 10px;
}
.lang_box .fa-brands {
  margin-top: 10px;
  font-size: 6rem;
}
.lang_box .html {
  color: #f06529;
}
.lang_box .css {
  color: #2965f1;
}
.lang_box .js {
  color: #f0db4f;
}
.lang_box .bs {
  color: #333;
}
.work .row {
  margin-top: 40px;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .c {
    padding: 0 20px;
  }
  .nav li {
    padding: 0 5px;
    font-size: 16px;
  }
  .tit h2{
      font-size: 20px;
  }
  .abt h3{
      font-size: 18px;
  }
  .home .abt p{
      margin-top: 15px;
  }
  .home .img img{
      width: 300px;
  }
  .tit h4{
    font-size: 18px;
}
  .logo {
      font-size: 16px;
  }
  .work .row{
      margin-top: 0;
  }
  .home .abt {
    width: 100%;
    text-align: center;
  }
  .work .row .lang_box{
      margin-top: 30px;
  }
  .home .img {
    margin-top: 30px;
  }
}
